@model SilkFlo.Web.Models.Business.Role

<div name="Business.Role">
    <div class="badge round-pill"
         name="Business.Role.Name"
         value="@Model.Name"
         style="background: var(--bs-gray-light);">@Model.Name</div>
    <input name ="Business.Role.Id" type="hidden" value="@Model.Id"/>
</div>
