@model SilkFlo.Web.Models.Business.Idea

<div class="silkflo_tile_light border"
     style="padding: 0; margin-bottom: 1rem;">
    <label style="padding: 1rem 1rem 0 1rem;">Benefit Per Employee</label>
    <table class="automationGoal"
           style="margin-bottom: 1rem; width: 100%">
        <tbody>
        <tr>
            <td>hours saved/year</td>
                @{
                    var value = await Model.GetEstimateAsync(Model.BenefitPerEmployeeHoursValue);
                }
                <td>@value.ToString("#,##0.00")</td>
        </tr>

        <tr>
            <td>cost/year</td>
                @{
                    value = await Model.GetEstimateAsync(Model.BenefitPerEmployeeCurrencyValue);
                }
                <td>@Html.Raw(Model.Currency + value.ToString("#,##0.00"))</td>
        </tr>

        <tr>
            <td>FTEs</td>
            <td>@Model.BenefitPerEmployeeFte</td>
        </tr>
        </tbody>
    </table>
</div>