<div class="ideaCard p-3 border bg-light silkflo_tile"
     style="display: flex; flex-wrap: wrap; justify-content: center; align-content: start; overflow: visible">
    <h1 style="margin-bottom: calc(1.320001rem + 0.15vw); color:#6f7a8a;">Everything Begins with an Idea...</h1>
    <div id="SubmitIdeaDropDown" silkflo-url="business/Idea/GetSubmitIdeaDropDown/id/btnSubmitYourFirstIdea"> </div>
</div>