<div class="container">
    <h1 style="margin-top: 2rem;">Site is Down for Maintenance</h1>
    <img src="~/Icons/Cat Not Happy.svg"
         style="width: 80%; margin-top:50px; margin-left:10%;margin-bottom:50px; " />
</div>
