@model SilkFlo.Web.ViewModels.Workshop.Page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService _authorizationService

<style>

	#tableContainer {
		max-height: 500px;
		overflow: auto;
		position: relative;
	}

	#Coedatalist th:first-child,
	#Coedatalist th:last-child,
	#Coedatalist td:first-child,
	#Coedatalist th:last-child,
	#Coedatalist th:nth-last-child(2),
	#Coedatalist th:nth-last-child(2) {
		position: sticky;
		/* background-color: #ffffff; */
		/* 		z-index: 2;

	*/
	}

	#Coedatalist thead {
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: #ffffff;
	}

		#Coedatalist td:first-child,
		#Coedata td:first-child,
		#Coedatalist td:nth-child(2),
		#Coedata td:nth-child(2),
		#Coedata td:last-child,
		#Coedatalist th:last-child,
		#Coedatalist thead tr th,
		#Coedatalist thead {
			position: -webkit-sticky;
			position: sticky;
			background-color: #ffffff;
		}


	#Coedatalist td:first-child,
	#Coedata td:first-child {
		left: -15px;
	}

	#Coedatalist td:nth-child(2),
	#Coedata td:nth-child(2) {
		left: 10px;
	}

	#Coedata td:last-child,
	#Coedatalist th:last-child {
		right: -15px;
	}

	#loader {
		border: 16px solid #f3f3f3;
		border-top: 16px solid #8897A2;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		animation: spin 1s linear infinite;
		position: absolute;
		top: 50%;
		left: 50%;
	}


	#fileuploadloader {
		border: 16px solid #f3f3f3;
		border-top: 16px solid #8897A2;
		border-radius: 50%;
		width: 30px;
		animation: spin 1s linear infinite;
		margin-right: 40px;
	}

</style>


<div class="container silkflo_tile_container" id="workshopContainer">
	@*Titles*@
	<div class="TitleBar">
		<h1>Workshop</h1>
		<h2>Automation Pipeline</h2>

		@if ((await _authorizationService.AuthorizeAsync(User, "Manage Tenant Settings")).Succeeded)
		{
			<div class="d-flex justify-content-end">
				<div style="display: inline-block; margin-bottom: 1rem; margin-right: 10px;">
					<button type="button" class="btn btn-warning" onclick="showImportModal()">
						<img src="~/Icons/fileuploadicons/excel.png" style="height: 20px" />
						<span> Import</span>
					</button>
				</div>
			</div>
		}

		@*Tab Bar*@
		<div class="silkflo-tab">
			@foreach (var stageGroup in Model.StageGroups)
			{
				var stage = stageGroup.Replace(" ", "");
				var url = $"{stage}";

				var elementClass = "silkflo-tab-label";

				if (string.Equals(stage, Model.StageGroup, StringComparison.CurrentCultureIgnoreCase))
					elementClass += " active";

				<h3 class="@elementClass"
				id="@stage"
				onclick="SilkFlo.ViewModels.Workshop.GetContent ( this );"
				url="@url">
					@stageGroup
				</h3>
			}
		</div>
	</div>

	@*Content*@
	@{
		var urlCurrent = $"Workshop/StageGroup/{Model.StageGroup}";
	}
	<div id="WorkshopContent"
	url="@urlCurrent">
		@if (Model.StageGroup == "Deployed")
		{
			@await Html.PartialAsync("Workshop/Deployed/_Summary", await Model.PipeLine.GetPipeLineDeployed(Model.Product))
		}
		else
		{
			@await Html.PartialAsync("Workshop/_PipeLine", Model.PipeLine)
		}
	</div>


	<div class="modal fade"
		 id="UploadPipelineModal"
		 tabindex="-1"
		 aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-content" style="border-radius:10px;padding: 25px;max-width: 949px;max-height: 646px">
			<form class="row" style="margin-top:0 !important">
				<button type="button" data-dismiss="modal" class="btn-close" style="position: absolute; top: 10px; right: 15px;" aria-label="Close" onclick="closeUploadPipelineModal()"></button>

				<br />
				<span style="padding-left: 815px; font-family: 'Poppins', sans-serif; font-size: 14px; color: #353535; text-decoration: underline;margin-top:10px">Step 1 of 4</span>
				<span style=" padding-left: 120px;font-weight: bold; font-size: 28px; font-family: 'Manrope', sans-serif; color: black">Import pipeline from Excel > SilkFlo</span>
				<br />
				<span style=" padding-left: 120px; color: #8E9CA7; font-family: 'Poppins', sans-serif; font-size: 16px;">Move your pipeline data from an Excel spreadsheet into SilkFlo</span>
				<br />


				<span style=" padding-left: 120px; color:#8E9CA7 ; font-family: 'Poppins', sans-serif; font-size: 16px; margin-top:10px">First, <span style="color: #2F80ED;  cursor: pointer; " id="DownloadTemplate" onclick="DownloadTemplateFile()">Download</span> our template Excel file.</span>

				<div class="col-12" style="margin-top: 25px;">
					<div id="dropZone" style=" background-color: white; border-color:#ff8a00; margin-inline: auto; margin-top: 0; flex: 0.5; height: 209px; width: 802px;" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">

						<span style="color: black; font-family: 'Poppins', sans-serif; font-size: 19px; font-weight: bold; margin-top:15px">Upload Excel Files</span>

						<span style="font-family: 'Poppins', sans-serif; font-size: 16px; color: #8E9CA7; background-color: white; border-radius: 5px; cursor: pointer; display: inline-block;">Browse your device to add Excel files<input type="file" style="display: none;"></span>
						<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
							<input id="fileElem" type="file" style="display: none;" onchange="onFileElemChange2()" multiple="multiple" />
							<label style="width: 108px; height: 48px; text-align: center; color: #FFFFFF; font-size: 16px; background-color: #ff8a00; padding: 10px; cursor: pointer; border-radius: 6px" for="fileElem">Browse</label>
						</div>

						<span id="fileLabel" style="font-family: 'Poppins', sans-serif; font-size: 16px; color: #8E9CA7; padding-top: 7px;">No file selected</span>
						<span id="InvalidFileTemplate" style="color: red; display: none; display:none;"></span>
					</div>
					<br />

					<span style="padding-left: 320px; font-family: 'Poppins', sans-serif; font-size: 19px; font-weight: bold; color: black; display: inline-block;">Need help getting started?</span>
					<br />
					<span style="padding-left: 290px; color:#8E9CA7 ; font-family: 'Poppins', sans-serif; font-size: 16px;"><a href="https://silkflo.com/docs/import-ideas-to-SilkFlo-from-Excel" target="_blank"><span style="color: #2F80ED; ">Read and learn</span></a> about uploading to SilkFlo</span>

				</div>

				<div class="col-12" style="margin-top: 5px; justify-content: flex-end; display: flex;">

					<button type="button"
							id="btnTFilesUp"
							onclick="btnTFilesUpload()"
							class="btn btn-primary"
							style="background: #ff8a00; border: 0; width:82px; height:48px; border-radius: 6px; font-size: 19px;margin-right: 45px;">
						Next
					</button>
					<div style="display:none" id="fileuploadloader">
					</div>
				</div>

			</form>


		</div>


	</div>

	<div class="modal fade"
		 id="ShowUploadPipelineMessageModal"
		 tabindex="-1"
		 aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-content" style="border-radius:10px;padding: 25px;max-width: 949px;max-height: 646px">
			<form class="row" style="margin-top:0 !important">

				<button type="button" data-dismiss="modal" class="btn-close" style="position: absolute; top: 10px; right: 15px;" aria-label="Close" onclick="closeShowUploadPipelineMessageModal()"></button>

				<br />
				<span style="padding-left: 815px; font-family: 'Poppins', sans-serif; font-size: 14px; color: black; text-decoration: underline; margin-top:10px">Step 2 of 4</span>
				<br />
				<span style="padding-left: 100px; font-weight: bold; font-size: 25px; font-family: 'Manrope', sans-serif;">Import pipeline from Excel > SilkFlo</span>
				<br />
				<span style=" padding-left: 100px; color: #8E9CA7; font-family: 'Poppins', sans-serif; font-size: 16px;">Move your pipeline data from an Excel spreadsheet into SilkFlo</span>
				<div style="margin-top:	105px; text-align: center; margin-left:420px">
					<!-- Centering the checkmark div -->
					<div style="width:50px;height:50px;background-color:#4ECB71;border-radius:50%;display:flex;align-items:center;justify-content:center;position:relative; color:white; font-size: 30px;">
						&#10003;
					</div>
				</div>

				<span style="margin-top:20px; color:black;font-family:'Poppins',sans-serif;font-size:16px;text-align:center;">Your file has been uploaded successfully.</span>

				<div class="col-12" style="margin-top: 55px; justify-content: flex-end; display: flex;">


					<button type="button"
							onclick="btnShowUploadFileModal()"
							class="btn btn-primary"
							style="background: #ffffff; border: 2px solid #ff8a00; border-radius: 6px; margin-right: 750px; margin-top:110px; color: #ff8a00; width:82px; height:48px">
						Back
					</button>
					<button type="button"
							onclick="btnShowFileData()"
							class="btn btn-primary"
							style="background: #ff8a00; border: 0;margin-top:110px; border-radius: 6px;margin-right:10px; width:82px; height:48px">
						Next
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="modal fade" id="ShowDataPipelineModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-content" style="border-radius:10px;padding: 25px;max-width: 949px;max-height: 760px">
			<form class="row" style="margin-top:0 !important">

				<button type="button" data-dismiss="modal" class="btn-close" style="position: absolute; top: 10px; right: 15px;" aria-label="Close" onclick="closeShowDataPipelineModal()"></button>
				<span style="padding-left: 815px; font-family: 'Poppins', sans-serif; font-size: 14px; color: black; text-decoration: underline; margin-top:10px">Step 3 of 4</span>
				<span style="padding-left: 100px; font-weight: bold; font-size: 25px; font-family: 'Manrope', sans-serif;">Let's verify your data</span>
				<span style=" padding-left: 100px; color: #8E9CA7; font-family: 'Poppins', sans-serif; font-size: 16px; margin-bottom: 10px;">Double check that your data is correct.</span>

				<div id="tableContainer">
					<table id="Coedatalist" class="table table-striped dataTable table-bordered">
						<thead style="position: sticky; top: -1px; background-color: #ffffff;">
							<tr>
								<td style="position: sticky; background-color: #ffffff;"><strong></strong></td>
								<td style="position: sticky; left: 10px; background-color: #ffffff;"><strong>Name</strong></td>
								<td><strong>CreatedDate</strong></td>
								<td><strong>SubmitterEmailAddress</strong></td>
								<td><strong>ProcessOwnerEmailAddress</strong></td>
								<td><strong>AutomationId</strong></td>
								<td style="display: block; width: 300px;"><strong>Description</strong></td> <!-- Set display to block -->
								<td><strong>Department</strong></td>
								<td><strong>Team</strong></td>
								<td><strong>Process</strong></td>
								<td><strong>Stage</strong></td>
								<td><strong>Status</strong></td>
								<td><strong>DeployementDate</strong></td>
								<td><strong>Rule</strong></td>
								<td><strong>Input</strong></td>
								<td><strong>InputDataStructure</strong></td>
								<td><strong>ProcessStability</strong></td>
								<td><strong>DocumentationPresent</strong></td>
								<td><strong>AutomationGoal</strong></td>
								<td><strong>ApplicationStability</strong></td>
								<td><strong>TaskFrequency</strong></td>
								<td><strong>AverageReviewTime</strong></td>
								<td><strong>ProcessPeak</strong></td>
								<td><strong>AverageNumberOfStep</strong></td>
								<td><strong>NumberOfWaysToCompleteProcess</strong></td>
								<td><strong>DataInputPercentOfStructured</strong></td>
								<td><strong>DecisionCount</strong></td>
								<td><strong>DecisionDifficulty</strong></td>
								<td><strong>AverageWorkingDay</strong></td>
								<td><strong>AverageEmployeeFullCost</strong></td>
								<td><strong>ActivityVolumeAverage</strong></td>
								<td><strong>EmployeeCount</strong></td>
								<td><strong>AverageErrorRate</strong></td>
								<td><strong>WorkingHour</strong></td>
								<td><strong>AverageProcessingTime</strong></td>
								<td><strong>AverageReworkTime</strong></td>
								<td><strong>AverageWorkToBeReviewed</strong></td>
								<td><strong>PotentialFineAmount</strong></td>
								<td><strong>PotentialFineProbability</strong></td>
								<td><strong>IsHighRiskSystems</strong></td>
								<td><strong>IsDataSensitive</strong></td>
								<td><strong>IsAlternative</strong></td>
								<td><strong>IsSystemUpgrade</strong></td>
								<td><strong>IsDataInputScanned</strong></td>
								<th style="position: sticky; background-color: #ffffff;"><strong>Action</strong></th>
							</tr>
						</thead>
						<tbody id="Coedata">
						</tbody>
					</table>

					<br />

				</div>
				<span id="EmptyFileText" style="color: red; display: none; display:none; margin-left:350px">Your File Is Empty</span>

				<span id="duplicateIdeasText" style="color: red; display: none; display:none; margin-left:20px">The Excel file contains duplicate ideas. Please modify or remove these duplicates before proceeding.</span>
				<span id="emptyNamesText" style="color: red; display: none; display:none; margin-left:20px">Some Ideas contain invalid or empty name.</span>
				<span id="emptyDescriptionText" style="color: red; display: none; display:none; margin-left:20px">Some Ideas contain invalid or empty description.</span>
				<span id="exceedDescriptionText" style="color: red; display: none; display:none; margin-left:20px">Some Ideas exceeds description limit, it should be 10000 characters max.</span>
				<span id="exceedNameText" style="color: red; display: none; display:none; margin-left:20px">Some Ideas exceeds name limit, it should be 100 characters max.</span>

				<div class="col-12" style="margin-top: 30px; justify-content: flex-end; display: flex;">

					<button type="button"
							id=""
							onclick="btnShowUploadPipelineMessageModal()"
							class="btn btn-primary"
							style="background: #ffffff; border: 2px solid #ff8a00; border-radius: 6px; color: #ff8a00; width:82px; height:48px">
						Back
					</button>
					<button type="button"
							onclick="saveCOEData()"
							class="btn btn-primary"
							style="background: #ff8a00; border: 0; border-radius: 6px;margin-left: 650px; width:140px; height:48px">
						Start Import
					</button>
				</div>
			</form>

		</div>
	</div>
	<div class="modal fade" id="ShowDataProcessingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-content" style="border-radius:10px;padding: 25px;max-width: 949px;max-height: 646px">

			@*<button type="button" data-dismiss="modal" class="btn-close" style="position: absolute; top: 10px; right: 15px;" aria-label="Close" onclick="closeModalAndRefreshPage()"></button>
			*@
			<span style="padding-left: 815px; font-family: 'Poppins', sans-serif; font-size: 14px; color: black; text-decoration: underline; margin-top:10px">Step 4 of 4</span>
			<br />
			<span style="padding-left: 260px; font-weight: bold; font-size: 28px; font-family: 'Manrope', sans-serif;">Your data is being imported..</span>
			<br />
			<div style="margin-top: 80px; display: inline-block;">
				<img src="~/Icons/fileuploadicons/excel.png" style="height: 40px; float: left; margin-left: 350px;" />

				<div style="width: 30px; height: 30px; border-radius: 50%; background-color: #2F80ED; display: inline-flex; align-items: center; justify-content: center; margin-left: 50px; ">
					<img src="~/Icons/Arrow Right.svg" style="height: 30px; filter: invert(100%);" />
				</div>
				<div>
					<img src="~/Icons/Logo.svg" style="height: 40px; float: left; margin-left: 130px; margin-top: -35px;" />

				</div>
			</div>
			<br />
			<div class="progress" style="width: 50%; height: 10px; margin: 20px auto;">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
			<span style="padding-left: 140px; color: #8E9CA7; font-family: 'Poppins', sans-serif; font-size: 18px;">This may take some time, feel free to close this window to continue working.</span>
			
			<div>
				<button type="button"
						id="ContinueWorking"
						onclick="continueWorking()"
						class="btn btn-primary"
						style="background: #ffffff; border: 2px solid #ff8a00; border-radius: 8px; margin-left: 640px; margin-top: 150px;  color: #ff8a00;">
					Continue Working
				</button>
				<div style="margin-left: 400px; margin-top:230px;" id="loader">
				</div>

			</div>


		</div>
	</div>

	<div class="modal fade" id="ShowResultModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-content" style="border-radius:10px;padding: 25px;max-width: 949px;max-height: 646px">

			<button type="button" data-dismiss="modal" class="btn-close" style="position: absolute; top: 10px; right: 15px;" aria-label="Close" onclick="closeShowResultModal()"></button>
			<br />
			<span style="padding-left: 250px; font-weight: bold; font-size: 28px; font-family: 'Manrope', sans-serif;">Your data has been imported!</span>
			<br />
			<div style="margin-top: 80px; display: inline-block; margin-left: 270px;">
				<div style="width:50px;height:50px; margin-left:160px;  background-color:#4ECB71;border-radius:50%;display:flex;align-items:center;justify-content:center;position:relative; color:white; font-size: 30px;">
					&#10003;
				</div>
			</div>
			<br />

			<span style="padding-left: 100px; margin-left: 250px; margin-bottom:100px; font-weight: bold; font-size: 16px; font-family: 'Manrope', sans-serif;"><span style="font-weight: bold; font-size: 16px; font-family: 'Manrope', sans-serif;" id="SuccessIdeaCounter"> </span> ideas have been added!</span>


			<button type="button"
					id="FinishPipelinemodals"
					onclick="FinishPipelinemodals()"
					class="btn btn-primary"
					style="background: #ff8a00; border: 0; border-radius: 8px; margin-top: 100px; margin-left: 800px;">
				Finish
			</button>
		</div>


	</div>

</div>
