<div class="TitleBar">
	<div class="d-flex justify-content-between">
		<h3 style="color:#FF8A00">Settings > API</h3>
	</div>
	<div class="d-flex justify-content-between" style="width: 441px;height: 25px;left: 263px;top: 173px;font-style: normal;font-weight: 650;font-size: 32px;line-height: 48px;display: flex;align-items: center;color: #363853; margin: 20px 0px 20px 0px;">
		<h1 style="font-weight: bold;">SilkFlo API</h1>
	</div>
	<div style="background-color: white; padding: 20px; margin-top: 20px; width: 1030px; height: 162px;">
		<h3 style="font-size: 16px; color: #363853; font-family: 'Poppins', sans-serif; font-weight: bold;">
			Build & work more efficiently
		</h3>
			<h3 style=" font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #353535;">Use our API to manipulate your tenant, or to integrate SilkFlo's data across a range of different technologies including RPA, IDP, chatbots, low-code and more... no matter which vendors you use.</h3>
		
		<p style="font-size: 16px;  font-family: 'Poppins', sans-serif; font-weight: 600;">
			<a href="#" style="color: #FF8A00;"> View Documentation</a>
		</p>
	</div>
	<div style="background-color: white; padding: 20px; margin-top: 20px; width: 1030px; height: auto; display: flex; flex-direction: column; align-items: flex-start;">
		<div>
			<h3 style="font-size: 16px; color: #363853; font-family: 'Poppins', sans-serif; font-weight: bold;">
				API Token
			</h3>
		</div>
		<div style="display: flex; justify-content: space-between; width: 100%;">
			<div style="flex: 1;">
				<h3 style="font-size: 16px; color: #353535; margin-bottom: 10px;">
					Generate an Access Key which is used to authenticate to the SilkFlo API
				</h3>
			</div>
			<div style="margin-right: 85px;">
				<button style="width: 177px;height: 40px;background-color: white; border: 2px solid #FF8A00; color: #FF8A00;cursor: pointer;font-size: medium;font-weight: 500;" onclick="ShowAddTokenModal()">
					Get API Access Key
				</button>
			</div>
		</div>
	</div>


</div>

<div class="modal fade" id="ShowAddTokenModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-content" style="border-radius: 10px; padding: 25px; max-width: 600px; height: 400px; text-align: center;">
		<h2 style="margin-bottom: 20px;">Add Token</h2>

		<div style="margin-top: 250px;">
			<button class="btn" style="width: 120px;height: 40px;background-color: white;border: 1px solid #FF8A00; color: #FF8A00; cursor: pointer; font-size: medium;font-weight: 500;" onclick="HideAddTokenModal()">
				Cancel
			</button>

			<button type="button" class="btn btn-warning" style="width: 120px;height: 40px;" >
				Save
			</button>
		</div>
	</div>
</div>








