<div class="silkFloFooter">
    <p id="footerId" class="text-right">Copyright &copy 2020-@DateTime.Now.Year SilkFlo. All rights reserved.</p>
</div>

@*
    Usage:

    @await Html.PartialAsync("_Footer")
*@
