@model SilkFlo.Web.ViewModels.FooterSaveCancel

<div style="position: fixed; z-index: 200; bottom: 42px; background: var(--bs-background); width: 100%;"
     class="py-2 d-print-none d-flex align-items-center">
    <div style="position: absolute; z-index: 200; left:-20px; top: 0; width: 100%; border-top: solid 2px var(--bs-gray-lighter);"> </div>

    <div class="d-flex align-items-center g-2">
        @if (!string.IsNullOrWhiteSpace(Model.JavaScriptSubmit))
        {
            <button class="btn btn-primary"
                    style="margin-right: var(--bs-gutter-y);"
                    onclick="@Model.JavaScriptSubmit">Submit</button>
        }

        @if (!string.IsNullOrWhiteSpace(Model.JavaScriptSave))
        {
            <button class="btn btn-primary"
                    style="margin-right: var(--bs-gutter-y);"
                    onclick="@Model.JavaScriptSave">@Model.SaveName</button>
        }

        @if (!string.IsNullOrWhiteSpace(Model.JavaScriptCancel))
        {
            <button class="btn btn-secondary"
                    onclick="@Model.JavaScriptCancel"
                    style="margin-right: var(--bs-gutter-y);">Cancel</button>
        }

        <button type="button"
                id="errorButton"
                style="display: none;"
                data-bs-toggle="modal"
                data-bs-target="#errorModal"
                onclick="if(HotSpot.Card){ HotSpot.Card.Close();}"
                class="btn btn-danger"></button>
    </div>
    <div name="Message"></div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="errorModal"
     tabindex="-1"
     aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"
                    id="errorModalLabel"><b>Error List</b></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 id="errorModalBody">
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>