@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using SilkFlo.Web.ViewModels
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>

    <!--
    Coded with the help of Delaney's ScriptBot
    Visit www.scriptbot.io

            ,--,_
      _ ___/ /\|
     /( )__, )
    ' |/_  '--,
       \ `  / '

    Authored by Delaney
    -->
    @await Html.PartialAsync("../Shared/_Head.cshtml")
</head>
<body id="body">

    @*<div id="applicationModeContainer"
         silkflo-callback="SilkFlo.ShowApplicationMode"
         silkflo-loadOnce=""
         silkflo-url="Dashboard/GetApplicationMode">
        <input type="hidden" value="something to prevent loading message" />
    </div>

    <div id="practiceModeContainer"
         silkflo-callback="SilkFlo.TogglePracticeMode"
         silkflo-loadOnce=""
         silkflo-url="Dashboard/GetPracticeMode">
        <input type="hidden" value="something to prevent loading message" />
    </div>*@

    @{
        var showNavigation = true;
        var claim = ((ClaimsIdentity)User.Identity).FindFirst(SilkFlo.Web.Settings.ExpiratoryDate);
        if (claim != null)
        {
            DateTime.TryParse(claim.Value, out var date);
            if (date < DateTime.Now)
                showNavigation = false;
        }

    }

    @if (User.Identity.IsAuthenticated)
    {

        <div class="d-print-none sideBar_wide silkFlo_flex_wrap_right"
         id="topBar"
         style="overflow: hidden;">
            <a data-bs-target="#ModalUserProfile"
           data-bs-toggle="modal"
           id="userProfileSummary"
           onclick="if(HotSpot.Card){ HotSpot.Card.Close();}"
           silkflo-url="User/GetUserProfileSummary">
            </a>
        </div>

        <div class="sideBar_wide"
         id="layout">


            <div class="d-print-none noSelect sidebar transition"
                 id="sidebar"
               >

                <div class="silkFlo_flex_wrap_spaced">

                    <div class="sidebar-header">
                        <a data-bs-target="tooltip"
                       data-placement="right"
                       id="Logo"
                       name="ToggleSidebar"
                       title="Toggle Sidebar">
                            <img alt="Logo"
                             class="logo"
                             ignore="ignore"
                             src="~/Icons/Logo.svg" />
                        </a>
                        <a data-bs-target="tooltip"
                       data-placement="right"
                       href="/"
                       name="ShowHomePage"
                       title="Show Home Page">
                            <img alt="Logo"
                             class="silkFlo text"
                             ignore="ignore"
                             src="~/Icons/SilkFlo.svg" />
                        </a>

                    </div>
                    <a id="ToggleSidebar"
                   name="ToggleSidebar"
                   nodecoration="">
                        <img id="sideBar_arrow"
                         src="~/Icons/SideBar/Arrow.svg"
                         style="transition: all 1s;" />
                    </a>
                </div>


                <nav aria-label="navigation"
                 class="collapse"
                 id="navigation"
                 silkflo-callback="SilkFlo.SideBar.NavigationFirstLoad_Callback"
                 silkflo-loadOnce=""
                 silkflo-url="GetNavigation">
                </nav>

                @if (showNavigation)
                {
                    <div class="contextMenu modelSubmitIdea"
                 id="submitIdeaMenu">
                        <div class="contextMenu_Brand"> </div>

                        <a class="d-flex list-group-item list-group-item-action noSelect pointer"
                   data-bs-target="#ModalSubmitIdea"
                   data-bs-toggle="modal"
                   onclick="if(HotSpot.Card){ HotSpot.Card.Close();} SilkFlo.SideBar.SubmitIdeaMenu.Hide ();SilkFlo.SideBar.ShowModelSubmitIdea ();">
                            <img class="modelSubmitIdea_icon"
                         src="~/Icons/Plus.svg" />
                            <h3>Employee Idea</h3>
                        </a>
                        <a class="d-flex list-group-item list-group-item-action noSelect pointer"
                   onclick="SilkFlo.SideBar.SubmitIdeaMenu.Hide ();SilkFlo.SideBar.OnClick ( '/Idea/Edit', SilkFlo.ViewModels.Business.Idea.Edit.Get_Callback );">
                            <img class="modelSubmitIdea_icon"
                         src="~/Icons/SideBar/Ideas.svg" />
                            <h3>CoE Idea</h3>
                        </a>
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div style="margin-top: auto; margin-bottom: 24px;">

                        @if (showNavigation)
                        {
                            <div style="margin: 0 0 24px 0; border-top: 2px solid gray;"> </div>

                            <div class="workspace"
                     id="workspaceSelector"
                     style="margin-bottom: 32px; margin-left: calc(var(--silkFlo_logo_width) / 2); color: white;">
                            </div>


                            <div class="narrowHide"
                     id="NavigationInviteTeam"
                     style="text-align: center; margin-bottom: 48px;">
                                <label class="text-secondary"
                           style="margin-bottom: 12px;">
                                    Invite your team and start collaborating!
                                </label>
                                <button class="btn btn-warning"
                            data-bs-target="#ModalInviteTeamMember"
                            data-bs-toggle="modal"
                            onclick="if(HotSpot.Card){ HotSpot.Card.Close();}SilkFlo.ViewModels.User.TeamMember.Invite ();">
                                    Invite Team Member
                                </button>
                            </div>
                        }

                        <ul class="list-unstyled"
                    id="menuSignOut"
                    style="margin: 0 0 var(--silkFlo_logo_width) calc(var(--silkFlo_logo_width) / 2);">
                            <li id="btnSignOut">
                                <a asp-action="SignOut"
                           asp-controller="Account"
                           data-bs-target="tooltip"
                           data-placement="right"
                           id="signOut"
                           name="SignOut"
                           title="Sign Out">
                                    <img class="icon"
                                 src="~/Icons/SideBar/Sign Out.svg"
                                 style="fill: var(--bs-danger)" />
                                    <span class="text text-danger">Sign Out</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                }

            </div>

            <div class="main transition"
             id="content">


                @RenderBody()


            </div>
        </div>

    }
    else
    {
        @RenderBody()
    }



    @await Html.PartialAsync("_Footer")


    <div aria-hidden="true"
         aria-labelledby="Pop up submit idea"
         class="fade modal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="ModalSubmitIdea"
         tabindex="-1">
        <div class="modal-dialog modal-dialog modal-lg">
            <div class="modal-content"
                 id="ModalSubmitIdeaContent">
                <div style="margin: 2rem;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync(
    "Business/Idea/ManageCollaborators/_Modal")




    <div aria-hidden="true"
         aria-labelledby="User Profile"
         class="fade modal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="ModalUserProfile"
         tabindex="-1">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content"
                 id="ModalUserProfileContent"
                 silkflo-url="User/GetUserProfileModal">
            </div>
        </div>
    </div>


    <div aria-hidden="true"
         aria-labelledby="Pop up to change password"
         class="fade modal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="ModalChangePassword"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                 silkflo-url="Users/GetUserPasswordModal">
            </div>
        </div>
    </div>


    @await Html.PartialAsync("MessageBoxes/_YesNo",
    new MessageBox
    {
    Id = "MessageBoxUserProfileEmailChangeConfirmation",
    Title = "Email Change Confirmation",
    Message = "An email will be sent to your new email address.<br>Please open it and click the link to validate your new address.<br><br><span class=\"text-warning\">Please note your new email address will not be valid until you have done so.<span>",
    Yes_Javascript = "SilkFlo.ViewModels.UserProfile.ConfirmEmailChange_Click();",
    No_Javascript = "",
    TrueLabel = "Continue",
    FalseLabel = "Cancel"
    })


    @await Html.PartialAsync("MessageBoxes/_Ok",
    new MessageBox
    {
    Id = "MessageBoxPasswordChangedConfirmation",
    Title = "Password Changed",
    Message = "Your password has been changed.",
    Yes_Javascript = "SilkFlo.ViewModels.UserProfile.PasswordChangedConfirmation_Click();",
    TrueLabel = "Continue"
    })

    @await Html.PartialAsync("MessageBoxes/_Ok",
    new MessageBox
    {
    Id = "MessageBox_Ok",
    Title = "",
    Message = "",
    TrueLabel = "Ok"
    })


    @* Delete Confirmation Message *@
    @await Html.PartialAsync("MessageBoxes/_YesNo",
    new MessageBox
    {
    Id = "MessageBox_YesNo",
    Title = "",
    Message = ""
    })


    <div silkflo-url="User/GetInviteTeamMemberModal"></div>


</body>
</html>