


<div class="modal fade" id="SilkfloModal" tabindex="-1" aria-labelledby=" Message Box"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 446px;
height: 527px;">
        <div class="modal-content silkflo-modal-content">
            <div class="modal-header"></div>
            <div class="modal-body" name="Message">
                <h2 class="modal-title" name="Title">Welcome to Silkflo!</h2>
                <h3 class="header-modal-version">V.12.4</h3>
                <div class="Gray-box">
                    <img class="silkflo-modal-content-img" src="https://i.pinimg.com/originals/26/80/eb/2680eba82caed365cb6f3031a33ac8dc.gif" />
                </div>
                <h2 class="silkflo_modal_title" name="Title">Main Dashboard</h2>
                <p class="silkflo-modal-content-width" style="margin-top: 16px; margin-bottom: 10px;">This is where you can see entier program performance, by ideas, project in build and automations deployed.</p>
            </div>
            <button type="button" class="silkflo-modal-content-btn" style="margin:16px " onclick="hideModal()"><span>Next</span></button>
        </div>
    </div>
</div>