@model SilkFlo.Web.Models.User

<div class="profileButton">
    <div class="d-flex">

        <div>
            <h5>@Model.Fullname</h5>
            <h6>@Model.Email</h6>
        </div>
        <div class="d-flex"
             style="align-items: center; margin-left: 18px;">
            <img style="fill:black" src="~/Icons/Arrow Down - simple.svg" />
        </div>
    </div>
    <div class="bar"> </div>
</div>