<div class="container">
    <img class="brand"
         onclick="SilkFlo.Redirect ( '/' )"
         src="~/Icons/Logo and SilkFlo Coloured and Black.svg"
         style="width: 200px; margin-top: calc(20px - 0.5rem) !important;"/>
    <h1>Subscription Complete</h1>
</div>