<div class="p-3 bg-light border silkflo_tile"
     style="margin-bottom: 2rem;"
     name="parent">
    
    <h2 style="margin-top:0 !important;">Automation Software Costs</h2>
    @await Html.PartialAsync("Business/Idea/Edit/CostBenefit/CostEstimates/RPASoftwareCosts/_NoRows.cshtml")
</div>