<div class="bg-light border p-3 silkflo_tile" style="height: 100%">
    <a class="btn btn-info" href="/pricing">Change Subscription</a>
    <p style="margin-top: 1rem; margin-bottom: 0;">You can change your subscription at anytime and we will change or refund the difference, based on your remaining time.</p>
</div>