<div class="noIdeaCardDeployed"
     style="display: flex; flex-wrap: wrap; justify-content: center; align-content: center; margin-left: auto; margin-right: auto;">
    <h1 style="margin-bottom: calc(1.320001rem + 0.15vw); font-weight: 400; padding-left: 160px; padding-left: 160px;color:#6f7a8a">It Looks Like You Have No <span style="font-weight: 600;">Deployed</span> Automations...</h1>

    <div class="d-inline-flex justify-content-between flex-row">
        <img src="~/Images/Builder.svg" style="vertical-align: bottom; align-self: flex-end;" />
        <h2 style="font-weight: 100; color:#6f7a8a">Get <span style="font-weight: 600;">Building!</span></h2>
        <img src="~/Images/Builder Female.svg" style="vertical-align: bottom;  align-self: flex-end;" />
    </div>
</div>