
    <div class="account_Right ">
        <div>
            <div class="panel-heading header-center">
                <img src="~/Icons/Icon.png" class="logo-img"  alt="SilkFlo" />
                <h1 style="margin-bottom:0px">Account Activated</h1>
            <p style="text-align:center; line-height:40px">Taking you to SilkFlo</p>
            <div class="loader"></div>
            </div>

            <div class="panel-body">
            <script>
                setTimeout(function () {
                    window.location.href = '/Account/SignInMicrosoft';
                }, 5000);
            </script>
            </div>
        </div>
    </div>
