@model SilkFlo.Web.Services.Models.Account.ChangePassword


<div class="account">

    @await Html.PartialAsync("Account/_Brand")

    <div class="account_Right">
        <div>
            <div class="panel-heading">
                <h1>Change Password</h1>
                <p style="text-align:left">Let us help get your account back</p>
            </div>

            <div class="panel-body">

                <form method="post">

                    <div asp-validation-summary="All"
                         class="silkflo-text-danger"></div>

                    <!-- Old Password Input -->
                    @await Html.PartialAsync("Elements/_LabeledInput",
                        new SilkFlo.Web.ViewModels.Element
                        {
                            Title = "Old Password",
                            Id = "OldPassword",
                            Value = Model.OldPassword,
                            ElementType = "password",
                            InvalidFeedback = "Required.",
                            MaximumLength = 100,
                        })


                    <!-- New Password -->
                    @await Html.PartialAsync("Elements/_LabeledInput",
                        new SilkFlo.Web.ViewModels.Element
                        {
                            Title = "New Password",
                            Id = "Password",
                            Value = Model.Password,
                            ElementType = "password",
                            InvalidFeedback = "Required.",
                            MaximumLength = 100,
                        })


                    <!-- Confirm Password -->
                    @await Html.PartialAsync("Elements/_LabeledInput",
                        new SilkFlo.Web.ViewModels.Element
                        {
                            Title = "Confirm Password",
                            Id = "ConfirmPassword",
                            Value = Model.ConfirmPassword,
                            ElementType = "password",
                            InvalidFeedback = "Required.",
                            MaximumLength = 100,
                        })



                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.ReturnUrl)

                    @if (!ViewContext.ModelState.IsValid)
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    }
                    <button formaction="ChangePassword"
                            style="width:100%"
                            class="btn btn-primary btn-lg"
                            type="submit">
                        Change Password
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>