@using SilkFlo.Web.ViewModels
@model SilkFlo.Web.Services.Models.Account.ForgotPassword

<div class="account">

    @await Html.PartialAsync("Account/_Brand")

    <div class="account_Right">
        <div>
            <div class="panel-heading">
                <h1>Forgotten Password</h1>
                <p>Let us help get your account back</p>
            </div>


            <div class="panel-body">
                <form asp-route-returnUrl="@Context.Request.Query["returnUrl"]"
                      sp-action="ForgotPassword">


                    @{
                        const string onFocusOut = "SilkFlo.Models2.User.ValidateEmailDetailed(this, 'EmailInvalid');";
                    }
                    @await Html.PartialAsync("Elements/_LabeledInput",
                        new Element
                        {
                            Title = "Email",
                            Id = "Email",
                            Name = "Email",
                            Value = "",
                            ElementType = "text",
                            InvalidFeedback = "Required",
                            JavaScriptOnFocusOut = onFocusOut,
                            MaximumLength = 100
                        })


                    <button class="btn btn-brand btn-lg"
                            style="width: 100%">
                        Send Instructions
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>