<div class="account">

    @await Html.PartialAsync("Account/_Brand")

    <div class="account_Right">
        <div>
            <div class="panel-heading">
                <h1>Forgotten Password Confirmation</h1>
                <p>Please check your email to reset your password</p>
            </div>
        </div>
    </div>
</div>