<div class="account account_SignIn">

    @await Html.PartialAsync("Account/_Brand")

    <div class="account_Right account_Right_SignIn">
        <div>
            <div class="panel-heading">
                <h1>Reset Password Confirmation</h1>
            </div>

            <div class="panel-body">
                <p>
                    Your password has been reset.<br/>Please <a asp-action="SignIn"
                                                                asp-controller="Account">click here to sign in</a>.
                </p>
            </div>
        </div>
    </div>
</div>