@model SilkFlo.Web.Services.Models.Account.ResetPassword

<div class="account account_SignIn">

    @await Html.PartialAsync("Account/_Brand")

    <div class="account_Right account_Right_SignIn">
        <div>
            <div class="panel-heading">
                <h1>Reset Password</h1>
            </div>

            <div class="panel-body">

                <form class=""
                      id="ResetPassword"
                      method="post">

                    <div asp-validation-summary="All"
                         class="text-danger">
                    </div>

                    <!-- Email -->
                    <input asp-for="Email"
                           class="form-control"
                           placeholder="Email"
                           name="Email"
                           style="margin-bottom: 1rem"
                           oninput=" SilkFlo.ResetPassword.ToggleButtonState();"
                           type="text"/>

                    <!-- Password -->
                    <input asp-for="Password"
                           class="form-control"
                           placeholder="Password"
                           name="Password"
                           style="margin-bottom: 1rem"
                           oninput = "SilkFlo.ValidatePassword(this); SilkFlo.ResetPassword.ToggleButtonState();"
                           type="password"/>

                    <!-- Confirm Password -->
                    <input asp-for="ConfirmPassword"
                           class="form-control"
                           placeholder="Confirm Password"
                           name="ConfirmPassword"
                           style="margin-bottom: 1rem"
                           oninput=" SilkFlo.ResetPassword.ToggleButtonState();"
                           type="password"/>

                    <div class="d-flex justify-content-end">
                        <button name="btn" class="btn btn-brand disabled">Reset</button>
                    </div>
                    
                    @await Html.PartialAsync("Elements/_PasswordRules")

                </form>

            </div>
        </div>
    </div>
</div>