@model SilkFlo.Web.Services.Models.Account.SignIn

<div class="account account_SignIn">
    
    @await Html.PartialAsync("Account/_Brand")
     
    <div class="account_Right account_Right_SignIn">
        <div>
            <div class="panel-heading header-center">
                <img src="~/Icons/logoround.png" class="silkflo-logo" alt="SilkFlo" />
                <h1>Welcome to SilkFlo!</h1>
                <p>Log in with your business e-mail</p>
                <hr class="hr" />
            </div>

            <div class="panel-body">
                <form asp-action="SignIn"
                        asp-route-returnUrl="@Context.Request.Query["returnUrl"]">


                    <!-- Email Input -->
                    @await Html.PartialAsync("Elements/_LabeledInput",
                        new SilkFlo.Web.ViewModels.Element
                        {
                            Title = "Email",
                            Id = "Email",
                            Name = "Email",
                            Value = Model.Email,
                            ElementType = "text",
                            InvalidFeedback = "Required",
                            MaximumLength = 100,
                            Autocomplete = "",
                        })


                    <!-- Password Input -->
                    @await Html.PartialAsync("Elements/_LabeledInput",
                        new SilkFlo.Web.ViewModels.Element
                        {
                            Title = "Password",
                            Id = "Password",
                            Name = "Password",
                            Value = "",
                            ElementType = "password",
                            InvalidFeedback = "Required",
                            Attributes = "autocomplete=\"off\"",
                            MaximumLength = 100,
                        })



                    <div class="silkFlo_flex_wrap_spaced">
                            <div class="form-check" style="margin-right: 9px;">
                                @Html.CheckBoxFor(model => model.RememberMe,
                                                    new { @class = "form-check-input", @id = "RememberMe" })
                                <label class="form-check-label"
                                        for="RememberMe">Remember Me</label>
                            </div>
                        
                            <div class="form-check">
                                @Html.CheckBoxFor(model => model.StaySignedIn,
                                                    new { @class = "form-check-input", @id = "StaySignedIn" })
                                <label class="form-check-label"
                                        for="StaySignedIn">Keep me signed in</label>
                            </div>
                    </div>


                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div style="margin: 2rem 0;">
                        @foreach (var error in ViewContext.ModelState.Root.Errors)
                        {
                            @Html.Raw("<span class=\"text-danger\">" + error.ErrorMessage + "</span>");   
                        }
                        </div>
                    }

                    @*btn-brand btn-lg*@
                    <button style="width:100%" class="btn btn_Login">Sign In</button>

                        <div class="link"> @*style="justify-content: center">*@
                            @*<p>Do not have an account? <a href="/pricing">Subscribe</a> now.</p>*@
                            <p><a asp-controller="account" asp-action="ForgotPassword">Forgot your password?</a></p>
                        </div>

                    <div class="or">
                        <h2>
                            <span>
                                or
                            </span>
                        </h2>
                    </div>

                    <button style="width:100%" class="btn btn-Microsoft" onclick="gotoSignIn()" type="button">
                        <img src="~/Icons/microsoft.png" width="19px" />
                        <span>&nbsp; &nbsp; Continue with Microsoft</span>
                    </button>
                    @*<div class="link">
                        <p style="margin-top: 3rem;">Don't have an account? <a href="~">Register</a></p>
                    </div>*@

                </form>
            </div>
        </div>
    </div>
</div>
