<p>Please add some Software Vendors to platform setup before adding Running Costs.</p>

<p><a href="/Settings/tenant/Platform-Setup/Cost-Setup/Software-Vendor">Settings &gt; Platform Setup &gt; Cost Setup  &gt; Software Vendors</a></p>
