<div class="modal fade"
     tabindex="-1"
     id="manageStageAndStatusContainer"
     aria-labelledby="Manage Stage And Status"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-dialog modal-xl">

        <div id="manageStageAndStatus"></div>

    </div>
</div>