<div class="card rules animateable"
     id="PasswordRules"
     style="padding: 0.5rem; opacity: 0;">
    <span class="Message">Your password must contain:</span>
    <ul>
        <li aria-invalid="true"
            class="isInValid"
            name="PasswordRules.Eight">
            At least 8 characters
        </li>
        <li aria-invalid="false"
            class="isInValid"
            name="PasswordRules.Three">
            Contain at least 3 of the following:
            <ul>
                <li aria-invalid="true"
                    class="isInValid"
                    name="PasswordRules.Lower">
                    Lower case letters (a-z)
                </li>
                <li aria-invalid="false"
                    class="isInValid"
                    name="PasswordRules.Upper">
                    Upper case letters (A-Z)
                </li>
                <li aria-invalid="false"
                    class="isInValid"
                    name="PasswordRules.Numbers">
                    Numbers (0-9)
                </li>
                <li aria-invalid="false"
                    class="isInValid"
                    name="PasswordRules.Special">
                    Special characters (ex. @Html.Raw("!@#$%^&*")
                </li>
            </ul>
        </li>
    </ul>
</div>