<div class="account_Left">

    <a href="https://www.silkflo.com" class="logo-and-text">
        <img src="~/Icons/Logo and SilkFlo - White.svg" />
    </a>
    <a href="https://www.silkflo.com" class="logo">
        <img src="~/Icons/Logo - White.svg" />
    </a>

    <div class="brand-text vertical-center">
        <div>
        <h1>Take control of your<br/>Automation Journey</h1>
            <h2>
                SilkFlo gives you the insights you need<br/>
                to succeed with intelligent automation
            </h2>
            </div>
    </div>
</div>