@model SilkFlo.Web.Models.User

<div class="modal-header">
    <h5 class="modal-title">Change Password</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            data-bs-target="#ModalUserProfile"
            data-bs-toggle="modal"
            onclick="if(HotSpot.Card){ HotSpot.Card.Close();}"
            aria-label="Close"></button>
</div>
<div class="modal-body">

    <form method="post"
          id="Modal.ChangePassword">

        <div asp-validation-summary="All"
             class="silkflo-text-danger"></div>

        <input type="hidden"
               name="User.Id"
               value="@Model.Id" />

        <!-- Old Password Input -->
        @await Html.PartialAsync("Elements/_LabeledInput",
            new SilkFlo.Web.ViewModels.Element
            {
                Title = "Old Password",
                Id = "ChangePassword_OldPassword",
                Name = "User.OldPassword",
                Value = "",
                ElementType = "password",
                InvalidFeedback = "Required.",
                Autocomplete = "current-password",
                MaximumLength = 100,
                JavaScriptOnInput = "SilkFlo.ViewModels.UserProfile.ChangePassword.ToggleButtonState();"
            })



        @await Html.PartialAsync("Elements/_LabeledInput",
            new SilkFlo.Web.ViewModels.Element
            {
                Title = "New Password",
                Id = "ChangePassword_Password",
                Name = "User.Password",
                Value = "",
                ElementType = "password",
                InvalidFeedback = "Required.",
                Autocomplete = "new-password",
                MaximumLength = 100,
                JavaScriptOnInput = "SilkFlo.ValidatePassword(this); SilkFlo.ViewModels.UserProfile.ChangePassword.ToggleButtonState();"
            })



        @await Html.PartialAsync("Elements/_LabeledInput",
            new SilkFlo.Web.ViewModels.Element
            {
                Title = "Confirm Password",
                Id = "ChangePassword_ConfirmPassword",
                Name = "User.ConfirmPassword",
                Value = "",
                ElementType = "password",
                InvalidFeedback = "Required.",
                Autocomplete = "new-password",
                MaximumLength = 100,
                JavaScriptOnInput = "SilkFlo.ViewModels.UserProfile.ChangePassword.ToggleButtonState();"
            })

        @await Html.PartialAsync("Elements/_PasswordRules")

        <div name="Message"></div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary disabled"
            id="User.ChangePasswordButton"
            onclick="SilkFlo.ViewModels.UserProfile.ChangePassword.Click();">
        Change Password
    </button>
</div>