@model SilkFlo.Web.ViewModels.Dashboard.Tenant

<div class="silkflo_tile hero-component d-flex justify-content-between flex-wrap">
    <div style="min-width: 190px; flex: 1 1 0;">
        <h1 style="font-size: 36px" class="text-white">Hi There!</h1>
        <p class="text-white">Welcome To SilkFlo</p>
        <p class="text-white">You Are About To Join Your Company's Automation Journey.</p>
        <p  class="text-white">Be The Champion They Need!</p>
    </div>
    <div style="width: 190px" class="d-flex align-content-between flex-wrap">
        <img src="~/Images/Hero.svg" style="margin-bottom: 24px; min-width: 190px" />
@*        <div style="text-align:center; width: 100%;">
            <button class="btn btn-light">
                <span>Let's get started!</span>
                <img style="fill: black" src="~/Icons/Arrow Right.svg" />
            </button>
        </div>*@
    </div>
</div>