@model SilkFlo.Web.ViewModels.Dashboard.SummaryButton

<div class="p-3 border bg-light silkflo_tile Invitations" style="min-width: 263px">
    <div class="silkFlo_Pin_Label">Invitations</div>
    <h3 style="margin:1rem 0;">You have 8 invitations to collaborate</h3>
    <div style="border-radius: var(--border-radius); background: var(--bs-gray-lightest); padding: 1rem;" class="d-flex justify-content-between">
        <div style="background: white; width: 35px; height: 35px; line-height: 32px; position: relative; border-radius: 18px;">
            <img style="width: 18px; height:16px; position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;" src="~/Icons/Mail.svg" />
        </div>
        <h3>has added you</h3>
    </div>
</div>
