@model SVGChartTools.DataSet.PieChartSlice

    <div style="margin-top: 0.5rem;">
        <div class="silkFlo_Pin" style="background: @Model.Background; margin-top: 0"></div>
        <div class="silkFlo_Pin_Label">
            @Model.Title
        </div>
        <div class="silkFlo_Pin_Value">
            @Model.ValueString
        </div>
    </div>