@model SilkFlo.Web.ViewModels.UserSearchResult


<table class="table table-hover noSelect">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr onclick="SilkFlo.Models2.User.Select(this, '@user.Id', '@user.Fullname');">
                <td>@user.Fullname</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>