<div class="account account_SignIn">

    @await Html.PartialAsync("Account/_Brand")

    <div class="account_Right account_Right_SignIn">
        <div>
            <div class="panel-heading">
                <h1>Unsubscribed</h1>
            </div>

            <div class="panel-body">
                <p>We are sorry to see you go.<p></p>
                <p>Your existing data will be safe and you can re-subscribe at anytime.</p>
                <a href="/">
                    Home
                </a>
            </div>
        </div>
    </div>
</div>