@model SilkFlo.Web.ViewModels.Business.Idea.Documentation
<div class="documentation" style="display: flex; flex-direction: column">
	<form method="post" asp-controller="Idea" asp-action="DownloadBlob">
		<div class="container"
			 style="border-bottom: 10px solid #eef0f8;background-color: white;padding-block: 1rem; width: 98% !important">
			<div style="display: flex; justify-content: space-between; margin-top: 20px;">
				<div>
					<h2>
						Standard Documents
					</h2>
				</div>
				<div>
					@{
						if(Model.AccessAllowed)
						{
							<button type="button" name="templateUploadAddMod"
									class="btn btn-primary btn-sm btn-upload "
									data-bs-toggle="modal" silkflo-IsAdminFlow="false"
							data-bs-target="#myModal" style="width: 5rem;height: 40px;left: 1134px;top: 460px;background: #FF8A00;border-radius: 4px;">
								Add
							</button>
						}
					}
						<button type="button"
								class="btn btn-primary btn-sm btn-upload "
							onclick="DownloadTDocument()"
							style="width: 6rem;height: 40px;left: 1134px;top: 460px;background: #FF8A00;border-radius: 4px;">
							Download
						</button>
				</div>
			</div>
			<div style="height: 0px;margin-top:20px;border: 1px solid #EDEDED;">
			</div>
			<div style="overflow-x: auto;">
				@if(Model.TDocuments != null && Model.TDocuments.Any(x => x.DocumentDtos.Any())){
					@await Html.PartialAsync("_TemplatesViewer.cshtml", Model.TDocuments)
				}
				else
				{
					<div style="text-align: center;color: darkgrey;padding: 4rem;">
						Create a template to be used for every submitted idea
					</div>
				}

				@*<h3 id="folderName">Documents Upload</h3>
				<button type="button" onclick="selectAllDocuments()"
				style="margin-left: auto;" class="btn btn-primary btn-sm btn-upload">
				Select All
				</button>
				<button type="button"
				class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModals">
				Delete
				</button>
				<button class="btn btn-sm btn-download" id="download" type="submit">
				Download Zip
				</button>*@
			</div>
		</div>
		
		<div class="container"
			 style="width: 98%; border-bottom: 10px solid #eef0f8;background-color: white;padding-block: 1rem;">
			<div style="display: flex; justify-content: space-between; margin-top: 20px;">
				 <div>
					<h2>
						Documents
					</h2>

				</div>
				<div>
					<button type="button" class="btn btn-primary btn-sm btn-upload" onclick="showDialogForDeletingDocs()"
							style="width: 8rem;height: 40px;left: 1134px;top: 460px;background: #FF8A00;border-radius: 4px;">
						Remove Files
					</button>
					<button type="button"
							class="btn btn-primary btn-sm btn-upload"
							data-bs-toggle="modal"
							data-bs-target="#myModalDocUpld" style="width: 8rem;height: 40px;left: 1134px;top: 460px;background: #FF8A00;border-radius: 4px;">
						Upload Files
					</button>
					<button class="btn btn-primary btn-sm btn-upload" type="button" onclick="downloadAllUserSelectedDocuments()"
						style="width: 10rem;height: 40px;left: 1134px;top: 460px;background: #FF8A00;border-radius: 4px; padding:8px">
					   @*href="/api/business/idea/detail/Documentation/ideaId/DownloadBlob?ideaId=@Model.Id"*@
						Download All (.zip)
					</button>
				</div>
			</div>
			<div style="border: 1px solid #EDEDED; margin-top:20px">
			</div>
			<input type="hidden" name="currItem" value=@Model.Id />
			@if (Model.Documents != null && Model.Documents.Any())
			{
				@await Html.PartialAsync("_DocumentsViewer.cshtml", Model.Documents)
			}
			else
			{
				<div style="text-align: center;color: darkgrey;padding: 4rem;">
					No documents here
				</div>
			}
		</div>
	</form>
</div>
<partial name="_ModalIdeaTemplate2.cshtml" />
<div class="modal fade"
	 id="usrDocCnfrmDg"
	 tabindex="-1"
	 aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirm Dialog</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="usrDocCnfrmDgYes" type="button">Yes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<partial name="_ModalIdeaTemplate.cshtml" />
<partial name="_ModalIdeaTemplate2.cshtml" />